<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
  <h1>Login</h1>
<main>
    <h3> Login to your account </h3>
    <form method="post" action="/login">
        <div>
            <label>Enter your username</label>
            <input name="username" type="text" required minlength="5">
        </div>
        <div>
            <label>Enter your password</label>
            <input name="password" type="text" required minlength="5">
        </div>
        <div>
            <button>Login</button>
        </div>
    </form>
</main>
</body>
</html>