<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<h1>Register</h1>
<main>
    <h3>Create an account</h3>
    <form method="post" action="/register">
        <div>
            <label>Enter your Username</label>
            <input name="username" type="text" required minlength="5">
        </div>
        <div>
            <label>Enter your password</label>
            <input name="password" type="password" required minlength="5">
        </div>
        <div>
            <label>Enter your email address</label>
            <input name="email" type="email" required>
        </div>
        <div>
            <label>Enter your phone number</label>
            <input name="phoneNumber" type="phoneNumber" required>
        </div>
        <div>
            <label>Enter profile picture url</label>
            <input name="profilePictureUrl" type="url">
        </div>
        <div>
            <button>Create an account</button>
        </div>
        <div>
            <button>Back</button>
        </div>
    </form>
</main>

</body>
</html>
<!--

</head>
<body>
<header>
    <div class="logo-title-area">
        <img class="inline" src="images/logo.jpg" alt="logo"/>
        <h1 class="inline">Chat App</h1>
    </div>
    <nav class="main-menu">
        <div class="inline"><a href="/">Home</a></div>
        <div class="inline"><a href="/register">Create an account</a></div>
        <div class="inline"><a href="/login">Login</a></div>
        <div class="inline"><a href="/profile">My Profile</a></div>
        <div class="inline"><a href="/chat-room">Chat Room</a></div>
        <div class="inline"><a href="/members">Members</a></div>
    </nav>
</header>
<main>
    <h3>Create an account</h3>
    <form method="post" action="/register">
        <div>
            <label>Enter your Username</label>
            <input name="username" type="text" required minlength="4">
        </div>
        <div>
            <label>Enter your password</label>
            <input name="password" type="password" required minlength="4">
        </div>
        <div>
            <label>Enter your email address</label>
            <input name="email" type="email" required>
        </div>
        <div>
            <label>Location</label>
            <input name="location" type="text">
        </div>
        <div>
            <label>Chat color</label>
            <input name="chatColor" type="color">
        </div>
        <div>
            <label>Date of birth</label>
            <input name="dateOfBirth" type="date">
        </div>
        <div>
            <label>Enter profile picture url</label>
            <input name="profilePictureUrl" type="url">
        </div>
        <div>
            <button>Create an account</button>
        </div>
    </form>
</main>

</body>
</html>-->