<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<h1>Register</h1>
<main>
    <h3>Create an account</h3>
    <form method="post" action="/register">
        <div>
            <label>Enter your Username</label>
            <input name="username" type="text" required minlength="5">
        </div>
        <div>
            <label>Enter your password</label>
            <input name="password" type="password" required minlength="5">
        </div>
        <div>
            <label>Enter your email address</label>
            <input name="email" type="email" required>
        </div>
        <div>
            <label>Enter your phone number</label>
            <input name="phoneNumber" type="phoneNumber" required>
        </div>
        <div>
            <label>Enter profile picture url</label>
            <input name="profilePictureUrl" type="url">
        </div>
        <div>
            <button>Create an account</button>
        </div>
        <div>
            <button>Back</button>
        </div>
    </form>
</main>

</body>
</html>
